:root {
    --primary-ad-color: #ffff00;
    --black-ad-color: #000000;
    --white-ad-color: #ffffff;
    ---red-ad-color: #b11313;
    ---gras-ad-color: #f8f184;
    ---blue-ad-color: #19587d;
    ---black-ad-color: #0d0e09;
    ---gris-ad-color: #c4c4c4;
    ---reds-ad-color: #eddebf;
    ---redo-ad-color: #890008;
}


/* les lignes blancs du sites */

.ligne-haut {
    position: absolute;
    left: 102px;
    top: 130px;
    width: 80.5%;
    margin-left: 2.2%;
    margin-right: 2.2%;
    border-top: 2px solid rgba(188, 188, 188, 0.5);
    z-index: 3;
}

.ligne-gauche,
.ligne-droite {
    position: absolute;
    border-left: 2px solid rgba(188, 188, 188, 0.5);
    height: 710vh;
    z-index: 3;
}

.ligne-gauche {
    left: 130px;
}

.ligne-droite {
    right: 130px;
}


/******************/

body {
    margin: 0;
    color: var(--white-ad-color);
    background-color: var(--black-ad-color);
    font-family: 'Space Grotesk', sans-serif;
}

h1,
button {
    font-family: 'Rajdhani', sans-serif;
}


/*slider*/

.im {
    display: flex;
    overflow: hidden;
    transition: 2s;
}


/*premier section du page home*/

.section {
    background-image: url(../Illustrations/Game/Batgame1.png);
    background-repeat: no-repeat;
    padding: 4% 10% 0% 10%;
    position: relative;
    background-size: 100% 100%;
}

.nav-link,
.nav-item {
    color: var(--white-ad-color) !important;
    font-size: 22px;
}

.first {
    padding: 30% 23% 0 23%;
    font-size: 19px;
    font-weight: 390;
}

.firs {
    font-weight: 400;
    padding: 10% 0 45% 5%;
}

.fleche {
    position: fixed;
    top: 25%;
    right: 78px;
    z-index: 100;
}

.dive {
    padding: 10%;
}


/*button*/

.dive button {
    color: var(--white-ad-color) !important;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.6) 0%, hsla(0, 100%, 50%, 0.2) 100%);
    padding: 2% 8%;
    border: none;
    font-size: 18px;
}

.img-fluid {
    padding: 5% 0;
    width: 80%;
    margin: 0 5%;
}


/* quiz */

.quiz-sec {
    margin-left: 200px;
}

section.container {
    color: var(--white-ad-color);
}

.quiz-container {
    margin-top: 2rem;
}

.quiz-title {
    font-size: 22px;
}

.qcm {
    background-color: var(---gris-ad-color);
    font-size: 18px;
    width: 40%;
    padding: 5px 10px;
    margin-top: 5px;
}

.qcm:hover {
    background-color: var( --primary-ad-color);
}

.qcm input {
    width: 22px;
    height: 22px;
    margin-right: 22px;
}